<?xml version='1.0'?>
<!DOCTYPE platform SYSTEM "https://simgrid.org/simgrid.dtd">
<platform version="4.1">

 {% for (descriptor, nb_cores) in descriptors %}

  <actor host="nova-{{ descriptor }}.lyon.grid5000.fr" function="vsg_vm">
    <argument value="192.168.1.{{ descriptor + 10 }}"/>  <!-- how simgrid knows me-->
    <argument value="boot_libvirt.py"/>
    <argument value="--descriptor"/>
    <argument value="{{ descriptor }}"/>
    <argument value="--mode"/>
    <argument value="tantap"/>
    <argument value="--qemu_cmd"/>
    <argument value="tanqemukvmvmi-system-x86_64"/>
    <argument value="--qemu_image"/>
    <argument value="/srv/tansiv_image/image.qcow2"/>
    <argument value="--qemu_mem"/>
    <argument value="{{ qemu_mem | default('1g')}}"/>
    <argument value="--qemu_nictype"/>
    <argument value="{{ qemu_nictype | default('virtio-net-pci') }}"/>
    <argument value="--qemu_vcpus"/>
    <argument value="{{ nb_cores }}"/>
    <argument value="--qemu_cpuset"/>
    <argument value="{{ qemu_cpuset | default('0') }}"/>
    <argument value="--base_working_dir"/>
    <argument value="/srv/tansiv"/>
    <argument value="--autoconfig_net"/> <!-- this configure the tap/bridges useful for the secondary management interface -->
    <argument value="--num_buffers"/>
    <argument value="100000"/>
    <argument value="192.168.1.{{ descriptor + 10 }}/24"/>  <!-- how vsg knows me-->
    <argument value="10.0.0.{{ descriptor + 10 }}/24"/> <!-- management -->
  </actor>

  {% endfor  %}

</platform>
