<?xml version='1.0'?>
<platform version="4.1">

  {% for (descriptor, nb_cores, mac) in descriptors %}

  <actor host="nova-{{ descriptor }}.lyon.grid5000.fr" function="vsg_vm">
    <subnet value="192.168.{{ descriptor + 120 }}.0"/>  <!-- ns-3 will assign the 2nd IP of the subnet to the node -->
    <mask value="255.255.255.0"/> 
    <ifg         value="36"/> <!-- PPP header: -2; Ethernet: +38 -->
    <mac         value="{{ mac }}"/>
    <boot_script value="boot_ns3.py"/>
    <argument value="--mac"/>
    <argument value="{{ mac }}"/>
    <argument value="--mode"/>
    <argument value="tantap"/>
    <argument value="--num_buffers"/>
    <argument value="100000"/>
    <argument value="--qemu_cmd"/>
    <argument value="tanqemukvm-system-x86_64"/>
    <argument value="--qemu_nictype"/>
    <argument value="{{ qemu_nictype | default('virtio-net-pci') }}"/>
    <argument value="--virtio_net_nb_queues"/>
    <argument value="1"/>
    <argument value="--base_working_dir"/>
    <argument value="/srv/tansiv"/>
    <argument value="--qemu_image"/>
    <argument value="/srv/tansiv_image/image.qcow2"/>
    <argument value="--qemu_mem"/>
    <argument value="{{ qemu_mem | default('1g')}}"/>
    <argument value="--qemu_args"/>
    <argument value="-machine q35,accel=kvm,kernel-irqchip=split -smp sockets=1,cores={{ nb_cores }},threads=1,maxcpus={{ nb_cores }} -monitor unix:/srv/tansiv/qemu-monitor-{{ descriptor }},server,nowait -object memory-backend-file,size=1M,share=on,mem-path=/dev/shm/ivshmem1,id=hostmem1  -cpu max,invtsc=on -device intel-iommu,intremap=on,caching-mode=on"/>
    <argument value="--autoconfig_net"/> <!-- this configure the tap/bridges useful for the secondary management interface -->
    <argument value="192.168.{{ descriptor + 120 }}.2/24"/>  <!-- how vsg knows me-->
    <argument value="10.0.0.{{ descriptor + 10 }}/24"/> <!-- management -->
  </actor>

  {% endfor  %}

</platform>
