<?xml version='1.0'?>
<platform>
    <bandwidth   value="{{ bandwidth }}"/>
    <latency     value="{{ latency }}"/>
    <min_latency value="{{ min_latency }}"/> <!-- min latency between two nodes on the
    topology -->
    <header_size value="{{ header_size | default('26') }}"/> <!-- Ethernet header: +14; virtio-net header: +12 -->
</platform>